[Unit]
Description=Create VFs on ens785f0 ens785f1 interfaces

[Service]
Type=oneshot
ExecStart=/usr/bin/sriov.sh ens785f0 ens785f1

[Install]
WantedBy=default.target
