[Unit]
Description=Create VFs on ens785f0 (netdev) ens785f1 (vfio) interfaces

[Service]
Type=oneshot
ExecStart=/usr/bin/sriov.sh ens785f0
ExecStart=/usr/bin/sriov.sh -b ens785f1

[Install]
WantedBy=default.target
