---
apiVersion: v1
kind: Pod
metadata:
  name: test-cpumanager-guaranteed-__runtimeclass__
spec:
  restartPolicy: Never
  containers:
  - name: busy
    image: busybox
    command: [ "top" ]
    resources:
      limits:
        cpu: 1
        memory: 500Mi # For kata to run
---
apiVersion: v1
kind: Pod
metadata:
  name: test-cpumanager-burstable-integer-limit-__runtimeclass__
spec:
  restartPolicy: Never
  containers:
  - name: busy
    image: busybox
    command: [ "top" ]
    resources:
      requests:
        cpu: 1
        memory: 100Mi
      limits:
        cpu: 2
        memory: 500Mi
---
apiVersion: v1
kind: Pod
metadata:
  name: test-cpumanager-burstable-float-limit-__runtimeclass__
spec:
  restartPolicy: Never
  containers:
  - name: busy
    image: busybox
    command: [ "top" ]
    resources:
      requests:
        cpu: 500m
        memory: 100Mi
      limits:
        cpu: 1
        memory: 500Mi
---
apiVersion: v1
kind: Pod
metadata:
  name: test-cpumanager-burstable-integer-__runtimeclass__
spec:
  restartPolicy: Never
  containers:
  - name: busy
    image: busybox
    command: [ "top" ]
    resources:
      requests:
        cpu: 1
        memory: 100Mi
---
apiVersion: v1
kind: Pod
metadata:
  name: test-cpumanager-burstable-float-__runtimeclass__
spec:
  restartPolicy: Never
  containers:
  - name: busy
    image: busybox
    command: [ "top" ]
    resources:
      requests:
        cpu: 500m
        memory: 100Mi
---
apiVersion: v1
kind: Pod
metadata:
  name: test-cpumanager-besteffort-__runtimeclass__
spec:
  restartPolicy: Never
  containers:
  - name: busy
    image: busybox
    command: [ "top" ]
